.dashboard-container{
    height: calc(100vh - 56px);
    background-color: #F5EBE0;
    display: flex;
    justify-content: center;
}

.dashboard-left{
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.dashboard-panel{
    min-height: 135px;
    width: 1010px;
    background-color: #C16102;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 3px #BE81443B;
    margin: 20px 20px 0px 20px ;
    color: #FFF;
}

.dashboard-middle{
    margin: 20px;
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 31.25px;
}

.dashboard-todo{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-card-container{
    display: flex;
    gap: 20px;
    /* justify-content: center; */
}

.todo-card{
    width: 220px;
    height: 240px;
    border-radius: 25px;
    border: 1px solid #C16102;
    box-shadow: 5px 5px 5px 3px #BE814440;
}

.dashboard-quiz-card-container{
    /* width: 50%; */
    border: 2px solid #C16102;
}

.dashboard-recent-scores{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recent-score-chart-container{
    width: 500px;
    height: 240px;
    border-radius: 25px;
    border: 1px solid #C16102;
    box-shadow: 2.09px 2.09px 10.43px 0px #BE814440;
    font-size: small;
    line-height: normal;
}

.dashboard-bottom{
    margin: 20px;
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 31.25px;
}

.dashboard-achievements{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.badges-container{
    width: 460px;
    height: 125px;
    border-radius: 25px;
    border: 1px solid #C16102;
    box-shadow: 5px 5px 5px 3px #BE814440;
}

.dashboard-course-progress{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progress-circles-container{
    width: 500px;
    height: 125px;
    border-radius: 25px;
    border: 1px solid #C16102;
    box-shadow: 2.09px 2.09px 10.43px 0px #BE814440;
}

/* --------------------------------------------------------------------------------- */
.dashboard-right{
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.recent-notifications{
    border: 1px solid #C16102;
    width: 340px;
    height: 150px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 2.09px 2.09px 10.43px 0px #BE814440;

}

.stats-container{
    display: flex;
}

.xp-container, .lvl-container{
    width: 155px;
    height: 130px;
    border-radius: 25px;
    margin: 0px 10px 0px 20px;
    background-color: #C16102;
    box-shadow: 5px 5px 5px 3px #BE814440;
}

.top-performers{
    border: 1px solid #C16102;
    width: 340px;
    height: 325px;
    margin: 20px 20px 0px 20px;
    border-radius: 25px;
    box-shadow: 2.09px 2.09px 10.43px 0px #BE814440;
}


/* Responsiveness */

@media screen and (max-width: 1450px) {
    .dashboard-container{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .dashboard-right{
        flex-direction: row;
    }
    
    .recent-notifications{
        width: 290px;
        height: 325px;
    }

    .top-performers{
        width: 310px;
        margin-bottom: 20px;
    }
    
    .xp-container, .lvl-container{
        margin-top: 20px;
        width: 335px;
        height: 150px;
    }

    .stats-container{
        flex-direction: column;
    }
}



@media screen and (max-width: 1050px){
    .todo-card{
        width: 165px;
    }
    
    .dashboard-panel, .recent-score-chart-container, .progress-circles-container, .badges-container, .xp-container, .lvl-container, .top-performers, .recent-notifications{
        width: 360px;
    }

    .dashboard-middle, .dashboard-bottom, .dashboard-right{
        flex-direction: column;
    }

}
